<div>
    <div>
        {{ dataService.currentLang === 'ru' 
            ? 'К сожалению я не могу привести здесь все проекты над которыми я работала, т.к. мне не принадлежит право собственности на них.' 
            : 'Unfortunately, I cannot cite here all the projects that I have worked on, because I do not own the ownership right to them.'
        }}
    </div>
    <div class="portfolio">

        <div class="portfolio_card" *ngFor="let pf of portfolio">
            <div class="portfolio_card--img">
                <img [src]="pf ? pf.src : '#'" alt="image">
            </div>
            <div class="portfolio_card--school">
                {{pf?.school}}
            </div>
            <div class="portfolio_card--course">
                {{pf?.course}}
            </div>
            <div class="portfolio_card--workName">
                {{pf?.workName}}
            </div>
            <div class="portfolio_card--demo">
                <a [href]="pf ? pf.demolink : '#'" target="_blank">{{dataService.currentLang === 'ru' ? 'Демонстрация' : 'Demonstration'}}</a>
            </div>
            <div class="portfolio_card--code">
                <a [href]="pf ? pf.codelink : '#'" target="_blank">{{dataService.currentLang === 'ru' ? 'Исходный код':'Source code'}}</a>
            </div>
            <div class="portfolio_card--comment">
                {{pf?.comment}}
            </div>
        </div>
    </div>
</div>
