.portfolio{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_card{
        flex-basis: 400px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px dotted grey;
        border-radius: 5px;
        text-align: center;
        &--img{
            width: 100%;
            margin-bottom: 20px;
            & img{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 840px){
    .portfolio{
        justify-content: center;
    }
}