<div class="contacts">
    <div class="contacts_card">
        <small>{{ "contacts.Phone" | translate }} / Viber / WhatsApp / Telegram: </small> {{data?.contacts.phone}}
    </div>
    <div class="contacts_card">
        <small>Telegram: </small> {{data?.contacts.telegram}}
    </div>
    <div class="contacts_card">
        <small>Email: </small> {{data?.contacts.email}}
    </div>
    <div class="contacts_card">
        <small>Skype: </small> {{data?.contacts.skype}}
    </div>
    <div class="contacts_card">
        <small>VK: </small> {{data?.contacts.vk}}
    </div>
    <div class="contacts_card">
        <small>ICQ: </small> {{data?.contacts.icq}}
    </div>
</div>
