.myNavbar {
  padding: 0;
  &-ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & li {
      padding: 10px 20px;
      &:hover {
        background: grey;
      }
      & a:hover {
        color: white;
      }
    }
  }
  &-btn {
    width: 100%;
    text-align: left;
    &-text {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .myNavbar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
  }
}
