<div class="navbar">
    <a routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </a>
    <a routerLink="/about">Обо мне</a>
    <a routerLink="/education">Образование</a>
    <a routerLink="/qualification">Опыт работы</a>
    <a routerLink="/scills">Навыки</a>
    <a routerLink="/sertificates">Сертификаты</a>
    <a routerLink="/portfolio">Портфолио</a>
    <a routerLink="/contacts">Контакты</a>
    <a href="../../../assets/printVersion/PrintVersion_OlgaZaglavnova_Resume.pdf" target="_blank">Версия для печати</a>
</div>
