.header{
    width: 90%;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 20px 0px 20px;
    &_photo{
        flex-basis: 25%;
        flex-grow: 0;
        border-radius: 15px;
        text-align: left;
        &--img{
            width: 80%;
            border-radius: 5px;
        }
    }
    &_info{
        padding-left: 20px;
    }
}