<div class="header">
    <div class="header_photo">
        <img class="header_photo--img" src="../../../assets/img/IMG_20200915_074724.jpg" alt="my photo">
    </div>
    <div class="header_info">
        <h2 class="header_info--name">{{data.name}}</h2>
        <p class="header_info--bdate"><small class="header_info--bdatelabel">дата рождения:</small>
        {{data.birthdate}}</p>
        <div>
            <p><small>Желаемая должность:</small> {{data.wishJob.name}}</p>
            <p><small>Опыт работы:</small> {{data.wishJob.experience}}</p>
            <p><small>Занятость:</small> {{data.wishJob.workday}}</p>
            <p><small>График работы:</small> {{data.wishJob.schedule}}</p>
        </div>
    </div>
    
</div>