<div class="contacts">
    <div class="contacts_card">
        <small>Телефон / Viber / WattsApp / Telegram: </small> {{contacts.phone}}
    </div>
    <div class="contacts_card">
        <small>Email: </small> {{contacts.email}}
    </div>
    <div class="contacts_card">
        <small>Skype: </small> {{contacts.skype}}
    </div>
    <div class="contacts_card">
        <small>VK: </small> {{contacts.vk}}
    </div>
    <div class="contacts_card">
        <small>ICQ: </small> {{contacts.icq}}
    </div>
</div>
