<div class="sertificate">
    <div class="sertificate_close">
        <a class="sertificate_close--a" [routerLink]="['/sertificates']">&times;</a>
    </div>
    <div class="sertificate_img">
        <img class="sertificate_img--pic" [src]="sertificate.src" [alt]="sertificate.fullName">
    </div>
    <div class="sertificate_school">
        {{sertificate.school}}
    </div>
    <div class="sertificate_school">
        {{sertificate.date}}
    </div>
    <div class="sertificate_fullname">
        {{sertificate.fullName}}
    </div>
</div>