.sertificate{
    padding-top: 20px;
    position: relative;
    text-align: center;

    &_img{
        margin-bottom: 20px;
        &--pic{
            width: 100%;
        }
    }
    &_close{
        text-align: center;
        position: absolute;
        top: 0;
        right: 0px;
        width: 30px;
        height: 30px;
        background: lightgrey;
        border-radius: 50%;
        // padding: 5px;
        &--a{
            text-decoration: none;
            font-size: 30px;
            line-height: 20px;
        }
    }
    &_fullname{
        font-weight: 900;
    }

}
