<div class="home">
    {{dataService.currentLang === 'ru' ? 'Добро пожаловать в мое резюме!' : 'Welcome to my resume!'}}<br>
    <a href="https://github.com/OlgaZaglavnova/ResumeAngular" target="_blank">{{dataService.currentLang === 'ru' ? 'Код (Angular)' : 'Code (Angular)'}}</a>
    <br><br>
    <a href="https://olgazaglavnova.github.io/Resume" target="_blank">{{dataService.currentLang === 'ru' ? 'Резюме, написанное на React + Redux (март 2020) можно посмотреть тут' : 'Resume made on React + Redux (march 2020), demonstration'}}</a>
    <br>
    <a href="https://github.com/OlgaZaglavnova/Resume_code" target="_blank">{{dataService.currentLang === 'ru' ? 'Код (React)': 'Code (React)'}}</a>
    <br>
    <br>
    <p>{{ dataService.currentLang === 'ru' 
        ? 'К сожалению я не могу привести здесь все проекты над которыми я работала, т.к. мне не принадлежит право собственности на них.' 
        : 'Unfortunately, I cannot cite here all the projects that I have worked on, because I do not own the ownership right to them.'
    }}</p>
</div>
