<div class="aboutme">
    <div class="aboutme_p">
        <div class="aboutme_p--title">{{ "aboutMe.City" | translate }}</div>
        <div class="aboutme_p--value">{{ data?.aboutMe.city}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">{{ "aboutMe.Citizen" | translate }}</div>
        <div class="aboutme_p--value">{{ data?.aboutMe.citizen}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">{{ "aboutMe.Gender" | translate }}</div>
        <div class="aboutme_p--value">{{ data?.aboutMe.gender}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">{{ "aboutMe.AboutMe" | translate }}</div>
        <div class="aboutme_p--value">{{ data?.aboutMe.selfInformation}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">{{ "aboutMe.Languages" | translate }}</div>
        <div class="aboutme_p--value">{{ data?.languages.russian}}<br>{{data?.languages.english}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">{{ "aboutMe.Car" | translate }}</div>
        <div class="aboutme_p--value">{{ data?.car}}</div>
    </div>
</div>