<div class="aboutme">
    <div class="aboutme_p">
        <div class="aboutme_p--title">Место жительства:</div>
        <div class="aboutme_p--value">{{aboutMe.city}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">Гражданство:</div>
        <div class="aboutme_p--value">{{aboutMe.citizen}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">Пол:</div>
        <div class="aboutme_p--value">{{aboutMe.gender}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">О себе:</div>
        <div class="aboutme_p--value">{{aboutMe.selfInformation}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">Языки:</div>
        <div class="aboutme_p--value">{{languages.russian}}<br>{{languages.english}}</div>
    </div>
    <div class="aboutme_p">
        <div class="aboutme_p--title">Авто:</div>
        <div class="aboutme_p--value">{{car}}</div>
    </div>
</div>