<div class="education">
    <div class="education_main">
        <h3>{{ "education.Highest" | translate }}</h3>
        <div class="education_p">
            <div class="education_p--year">
                {{data?.mainEducation.year}}
            </div>
            {{data?.mainEducation.institute}}<br>
            {{data?.mainEducation.faculty}}
        </div>
    </div>
    <div class="education_additional">
        <h3>{{ "education.Additional" | translate }}</h3>
        <div class="education_p" *ngFor="let addEd of data?.additionalEducation">
            <div class="education_p--year">
                {{addEd?.year}}
            </div>
            {{addEd?.institute}}<br>
            {{addEd?.courseName}}
        </div>

    </div>
</div>
