<div class="education">
    <div class="education_main">
        <h3>{{dataService.currentLang === 'ru' ? 'Высшее': 'Highest'}}</h3>
        <div class="education_p">
            <div class="education_p--year">
                {{mainEducation?.year}}
            </div>
            {{mainEducation?.institute}}<br>
            {{mainEducation?.faculty}}
        </div>
    </div>
    <div class="education_additional">
        <h3>{{dataService.currentLang === 'ru' ? 'Дополнительное': 'Additional'}}</h3>
        <div class="education_p" *ngFor="let addEd of additionalEducation">
            <div class="education_p--year">
                {{addEd?.year}}
            </div>
            {{addEd?.institute}}<br>
            {{addEd?.courseName}}
        </div>

    </div>
</div>
