<div class="sertificates">
    <div class="sertificates_card" *ngFor="let sertificate of sertificates; let i = index">
        <a [routerLink]="['/sertificates', i]">
            <img [src]="sertificate.src" alt="sertificate image">
            <div class="sertificates_card--school">
                {{sertificate.school}}
            </div>
            <div class="sertificates_card--date">
                {{sertificate.date}}
            </div>
            <div class="sertificates_card--fullName">
                {{sertificate.fullName}}
            </div>
        </a>

    </div>
</div>
